@* @model IEnumerable<ProductReviewSystem.Models.ViewModels.RegistrationViewModel>
<h1>Register</h1>
<form method="post">
    <div>
        <label asp-for="Name">Full Name</label>
        <input asp-for="Name" />
    </div>

    <div>
        <label asp-for="Email">User Email</label>
        <input asp-for="Email" />
    </div>

    <div>
        <label asp-for="Password">Password</label>
        <input type="password" asp-for="Password" />
    </div>
    <button type="submit">Submit</button>
</form> *@