@model IEnumerable<ProductReviewSystem.Models.ViewModels.ProductIndexViewModel>
@{
    ViewBag.Title = "Details";
}

<div class="card">
    <div class="card-body">
        <div class="card-header">

        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Comments</th>
                    <th>Ratings</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model)
                {
                    <tr>
                        <td>@review.UserName</td>
                        <td>@review.Comment</td>
                        <td>@review.Ratings</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div><br>
<div class="mb-3" border-right>
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Back To Home</a>
</div>